.header{
    background-color: #74D5CB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 50px;
}
#logo-blanco{
    width: 200px;
    
}

.headercIcoc{
    margin-left: 5px
}
.social-icon{
    width: 40px;
    margin: 10px
}