.footer{
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: auto ;
  padding: 10px 20px;
   
  background: rgb(70, 170, 160);
  color: white;
  
}

.left{
  margin-top: 25px;
}
.right{
  padding-left: 168px;
}
.form-control{
  width: 50%;
}